Comb
=========

##NOTE: v0.1.1 removed proxy code out of core see [comb-proxy](http://github.com/Pollenware/comb-proxy)

Overview
--------

Framework for node that provides a one stop shop for frequently needed utilities, including:

* OO utilties
* Collections 
* Logging
* String & date formatting
* Flow control
* Date Management

See Usage for more details.

## Installation

    npm install comb


Why?
----

If your like us its fun to find new modules to use but often wish you didn't have to sift through NPM registry or the node modules page to find what you need.

   So....

We created a library of things we use often, or commons utilities that are used by our other APIs.