{{#each namespaces}}
<a name="{{escapeLink name}}"></a>
##{{name}}

[Top](#top)

{{{replaceLinks description}}}
{{{propertyTable properties}}}
{{#each methods}}
  * [{{name}}]({{link fullName}})
{{/each}}

  {{#each methods}}
<a name="{{escapeLink fullName}}"></a>
{{#if isStatic}}
###*{{name}}*
{{else}}
###{{name}}
{{/if}}


---
*Defined {{file}}* [Top](#top)


{{{replaceLinks description}}}
        {{#each examples}}
*Example*

```javascript
{{{code}}}
```
{{/each}}
     {{#if params.length}}
*Arguments*

        {{#each params}}
 * _{{formatParamName name}}_ {{#if types}}{{joinTypes types}}{{/if}} : {{{replaceLinks description}}}
        {{/each}}
     {{/if}}
     {{#if returns.length}}
*Returns*

        {{#each returns}}
 * {{#if types}}{{joinTypes types}}{{/if}} {{{replaceLinks description}}}
        {{/each}}
     {{/if}}
{{#if code}}
*Source*

```javascript
{{{code}}}
```
{{/if}}
  {{/each}}
{{/each}}
